[submodule "submodules/base_src/ugv_sdk"]
	path = submodules/base_src/ugv_sdk
	url = git@github.com:agilexrobotics/ugv_sdk
[submodule "submodules/base_src/bunker_ros2"]
	path = submodules/base_src/bunker_ros2
	url = git@github.com:agilexrobotics/bunker_ros2
	branch = humble
[submodule "submodules/sensors_src/mosaic_h_ros2"]
	path = submodules/sensors_src/mosaic_h_ros2
	url = git@github.com:iranaphor/mosaic_h_ros2
[submodule "submodules/task_src/topological_navigation"]
	path = submodules/autonomy_src/topological_navigation
	url = git@github.com:lcas/topological_navigation
[submodule "submodules/sensors_src/rplidar_ros"]
	path = submodules/sensors_src/rplidar_ros
	url = git@github.com:Slamtec/rplidar_ros.git
	branch = ros2
[submodule "submodules/environment_src/environment_common"]
	path = submodules/environment_src/environment_common
	url = git@github.com:lcas/environment_common.git
	branch = main
[submodule "submodules/environment_src/environment_template"]
	path = submodules/environment_src/environment_template
	url = git@github.com:lcas/environment_template.git
	branch = riseholme_park_farm_strawberry_polytunnels
